{% set items = [ 
    { title: labels.view, component: 'entity::admin.entity.view', icon: 'list', active: true, params: { role: 'customer' } },
    { title: labels.add, component: 'entity::admin.customers.add', icon: 'plus' },
    { title: labels.edit, component: 'entity::admin.customers.edit', icon: 'edit' }
] %}

{{  component('semantic~tabs.vertical',{ 
        items: items, 
        menu: { id: 'customers_menu' }, 
        item_class: 'customers-tab-item',
        content: { 
            component: 'entity::admin.entity.view', 
            params: { role: 'customer' },
            id: "entity_content" 
        } 
    })
}}