{% if uuid is not empty %}
    {% set entity = createModel('Entity','entity').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: entity }) }}                   
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{  component('system:admin.status.label',{ 
                            status: entity.status 
                        }) 
                    }}
                </td>
            </tr>    
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.name }}</td>
                <td>{{ entity.name }}</td>
            </tr>          
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.type }}</td>
                <td>
                    <div class="badge badge-sm badge-outline">
                        {{ entity.type }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.role }}</td>
                <td>
                    {% for role in entity.roles %}
                    <div class="badge badge-sm badge-outline">
                        {{ role }}
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.address }}</td>
                <td>
                    {% for item in entity.addresses %}     
                        <h4 class="font-bold uppercase">
                            {{ item.address_type }}
                        </h4>                                          
                        {{  component('content::item',{ 
                                content_type: 'address', 
                                content_id: item.address.uuid, 
                                close_button: false,
                                hide_title: true
                            }) 
                        }}                                                               
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.user }}</td>
                <td>{{ entity.user.username_or_email }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.date }}</td>
                <td>{{ entity.date_created|dateTimeFormat }}</td>
            </tr>
            {% if entity.date_updated is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.updated }}</td>
                <td>
                    {{ entity.date_updated|dateFormat }}
                </td>
            </tr> 
            {% endif %}
        </tbody>
    </table>          
{% endcomponent%}