{{  component('system:admin.tabs',{ 
        items: [  
            { 
                title: labels.customers, 
                component: 'entity::admin.entity', 
                params: 'role:customer',
                svg_icon: 'icons~info', 
                active: true 
            },
            {               
                title: labels.suppliers, 
                component: 'entity::admin.entity', 
                params: 'role:supplier',
                svg_icon: 'icons~info' 
            },
            {               
                title: labels.sellers, 
                component: 'entity::admin.entity', 
                params: 'role:seller',
                svg_icon: 'icons~info' 
            }
        ],
        menu: { 
            extension: 'entity' 
        },
        content: { 
            component: 'entity::admin.entity',
            params: { 
                role: 'customer' 
            }
        } 
    })
}}

{{  component('system:admin.modal.confirm',{
        id: 'confirm_delete'       
    }) 
}}