{% if user_id is empty %}
    {% set user_id = service('access').getId() %}
{% endif %}
{% set data_field = data_field|default('id') %}

{{  component('system:form.fields.select',{
        id: id|default('entity_select'),
        name: field_name|default('entity_id'),
        rule: rule,
        class: class,
        size: size,
        button_class: button_class,
        apiUrl: DOMAIN ~ BASE_PATH ~ '/api/entity/list/' ~ data_field ~ '/' ~ user_id ~ '/' ~ role ~ '/',
        clear_button: true,                     
        selected: selected,
        placeholder: labels.select
    }) 
}} 
