
{% if uuid is not empty %}
    {% set entity = createModel('Entity','entity').findById(uuid) %}
{% endif %}

<form class="ui form {{ class }}" id="entity_form">  
    {% if uuid is not empty %}
        <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">  
    {% endif %}   
    {% if role is not empty %}
        <input type="hidden" name="role" id="role" value="{{ role }}">  
    {% endif %}   
    <div class="field required">
        <label>{{ fields.name.label }}</label>
        <input role="empty" type="text" name="name" id="name" {{ fields.name.placeholder|attr('placeholder') }} value="{{ entity.name }}">  
    </div>    
    <div class="inline fields">
        <div class="field">
            <div class="ui radio checkbox entity-type-radio" id="person_type">
                <input rule="empty" type="radio" name="type" {{ (entity.type == 'person') ? 'checked="checked"' : '' }} value="person">
                <label>{{ fields.person.label }}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox entity-type-radio" id="organization_type">
                <input rule="empty" type="radio" name="type" value="organization" {{ (entity.type == 'organization') ? 'checked="checked"' : '' }}>
                <label>{{ fields.organization.label }}</label>
            </div>  
        </div>                
    </div>     
    {% if role is not empty %}
    <div class="ui basic label">
        {{ role }}
    </div>
    {% endif %}  
    {% for role in entity.roles %}
    <div class="ui basic label">
        {{ role }}
    </div>
    {% endfor %}  
    {{ component('semantic~form.footer') }}   
</form>