
{% if uuid is not empty %}
    {% set entity = createModel('Entity','entity').findById(uuid) %}
{% endif %}
{% set type = entity.type|default('organization') %}

<form class="form {{ class }}" id="entity_form">  
    {% if uuid is not empty %}
        <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">  
    {% endif %}   
    {% if role is not empty %}
        <input type="hidden" name="role" id="role" value="{{ role }}">  
    {% endif %}   
    <div class="{{ theme.form.filed }} required">
        <label class="{{ theme.form.label }}">
            {{ fields.name.label }}
        </label>
        <input 
            class="{{ theme.form.input }}"
            role="empty" 
            type="text" 
            name="name" 
            id="name" 
            {{ fields.name.placeholder|attr('placeholder') }} 
            value="{{ entity.name }}">  
    </div>    
    <div class="mt-4">
        <div class="{{ theme.form.filed }}">
            <div class="{{ theme.form.space }} entity-type-radio" id="person_type">
                <input 
                    class="{{ theme.form.radio }}"
                    rule="empty" 
                    type="radio" 
                    name="type" 
                    {{ (type == 'person') ? 'checked="checked"' : '' }} 
                    value="person">
                <label class="{{ theme.form.label }}">
                    {{ fields.person.label }}
                </label>
            </div>
        </div>
        <div class="{{ theme.form.filed }}">
            <div class="{{ theme.form.space }} entity-type-radio" id="organization_type">
                <input 
                    class="{{ theme.form.radio }}"
                    rule="empty" 
                    type="radio" 
                    name="type" 
                    value="organization" 
                    {{ (type == 'organization') ? 'checked="checked"' : '' }}>
                <label class="{{ theme.form.label }}">
                    {{ fields.organization.label }}
                </label>
            </div>  
        </div>                
    </div>     
    {% if role is not empty %}
    <div class="mt-4 badge badge-sm badge-outline">
        {{ role }}
    </div>
    {% endif %}  
    {% for role in entity.roles %}
    <div class="badge badge-sm badge-outline">
        {{ role }}
    </div>
    {% endfor %}  

    {{ component('system:form.footer') }}   
</form>