{{  component('semantic~tabs.vertical',{ 
        items:  [ 
            { title: labels.view, component: 'entity::admin.entity.view', icon: 'list', active: true, params: { role: 'seller' } },
            { title: labels.add, component: 'entity::admin.sellers.add', icon: 'plus' },
            { title: labels.edit, component: 'entity::admin.sellers.edit', icon: 'edit' }
        ], 
        menu: { id: 'sellers_menu' }, 
        item_class: 'sellers-tab-item',
        content: { 
            component: 'entity::admin.entity.view', 
            params: { role: 'seller' },
            id: "entity_content" 
        } 
    })
}}